@media screen and (max-width:700px) {
    header .container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    }
    .botao{
    margin-top: 5px;
    width: 300px;
    }
    .container{
        margin-bottom: 40px;
    }
}

@media screen and (max-width:550px) {

    header .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }

        .filme-principal .container{
            display: block;
            box-sizing: border-box;
            margin-top: 50px;
            flex-direction: column;
            height: 100%;
            margin: 10px;
            padding: 0px;
            
        }

        .descricao{
            margin-bottom: 0px;
            padding-bottom: 0px;
            font-size: 14px;
        }
        .titulo{
            font-size: 30px;
        }

        .container .titulo{
            margin-top: 10px;
        }

}